body {
    color: white;
    margin: 0;
    padding: 0 0 0 0;
    font-size: 1.5em;
}

.navbar {
    margin-top: 0;
    margin-bottom: 0 !important;
}

p {
    font-family: 'Open Sans', sans-serif;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.btm-info-field ul {
    list-style-type: none;
    padding: 1em;
}

ul li {
    padding: 1em;
}

.navbar {
    font-size: 1.5em;
    background-color: #00A1B2;
    height: 100px;
    width: 100%;
    margin-bottom: 0;
}

.nav-pills {
    color: white;
}

.btm-info-field {
    height: 100%;
    background-color: #00A1B2;
    font-size: 1.5em;
    font-family: 'Rasa', serif;
    margin-bottom: 0;
    padding-bottom: 0;
}

/*home page*/
#banner-bg {
    width: 100%;
    height: 60em;
    background-color: #333;
    background-size: cover;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1#banner-name {
    font-size: 4em;
    position: relative;
    top:35%;
}

h1#banner-name>small {
    color: whitesmoke;
}


/*work page*/
#myWorkEntry {
    font-size: 1.5em;
    padding: 3%;
}

#myWorkEntry p {
    margin-left: 5%;
}

#calculator-content {
    height: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-top: solid 1px lightgray;

}

#weather-content {
    height: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-top: solid 1px lightgray;
}

#simon-content {
    height: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-top: solid 1px lightgray;
}


/*about page*/
.bg-1{
    height: auto;
    padding-top: 3%;
    padding-bottom: 5%;
}

.bg-2 {
    height:220px;
    border-top: 1px solid lightgray;
    padding-top: 5%;
    padding-bottom: 5%;
}

.bg-3 {
    padding: 5%;
    height:100%;
    background-color: #FF6C00;
}

#personal-story {
    font-size: 1.5em;
    text-align: justify;
    margin-top: 2%;
}

.contact-info {
    font-size: 1.7em;
    text-align: left;
}

#about-skills-list {
    font-size: 1.5em;
    padding-top: 3%;
}

.about-question {
    font-family: 'Rasa', serif;
}

#about-content p {
    font-family: 'Open Sans', sans-serif;
}

#aboutMessage {
    font-size: 2em;
}

#contact-info {
  /*something here to space contact-info and contact form*/
}
